**/node_modules
**/dist
**/build
**/.git
**/.env
**/__pycache__
**/*.pyc
**/.DS_Store
**/npm-debug.log
frontend/node_modules
server/node_modules
py_backend/__pycache__
py_backend/*.pyc
.env.local
.env.development.local
.env.test.local
.env.production.local 